@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
}

@mixin fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.banner {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  @include fixed;
  @include flex;
  .icon-svg {
    @include fontSize(40px);
    padding: 10px;
    color: #fff;
    width: 96px;
    height: 96px;
  }
  .list {
    width: 100%;
    height: 100%;
    background: #000;
    @include fixed;
    .head {
      @include flex;
      &::after {
        content: '';
        display: block;
        width: 96px;
      }
    }
    ul {
      li {
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        height: calc(100% - 96px);
      }
    }
  }
  .search {
    padding: 0 20px;
    .search-container {
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.2);
      display: flex;
      color: #999;
      .icon {
        width: 64px;
        height: 72px;
        padding: 4px 8px;
        flex: 0 1 64px;
      }
      input {
        font-size: 34px;
        height: 72px;
        border: none;
        background: transparent;
        color: #fff;
        flex: auto;
      }
    }
  }
}