$topicColor: #d34ba8;
$deepBlack: #585c64;
$lightBlack: #98989f;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body {
  font: 14px/1.5 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft Yahei', helvetica, arial;
}

.icon {
  /* 通过设置 font-size 来改变图标大小 */
  width: 1em;
  height: 1em;
  /* 图标和文字相邻时，垂直对齐 */
  vertical-align: -0.15em;
  /* 通过设置 color 来改变 SVG 的颜色/fill */
  fill: currentColor;
  /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示normalize.css 中也包含这行 */
  overflow: hidden;
}

@mixin fontSize($px) {
  font-size: $px; // [data-dpr="2"] & {
  //   font-size: $px * 2;
  // }
  // [data-dpr="3"] & {
  //   font-size: $px * 3;
  // }
}