.index {
  padding-top: 96px;
  _border-bottom: 1px solid red;
  margin-bottom: 20px;
  background: #fff;
  .more {
    margin-bottom: 20px;
    border-bottom: 1px solid red;
  }
}

ul {
  width: 100%;
  li {
    background: #fafafa;
    margin-bottom: 20px;
    text-align: center;
    div.title {
      font-size: 30px;
    }
    img {
      width: 250px;
    }
  }
}

button {
  @include fontSize(30px);
  _border: 1px solid gray;
  background: transparent;
  border-radius: 10px;
  color: black;
  color: #000;
}

.a,
.b,
.c,
.d {
  width: 60px;
  height: 60px;
}

.a {
  background: url('./images/logo@2x.png') no-repeat 0 0;
}

.b {
  background: url('./images/logo2@2x.png') no-repeat 0 0;
}

.c {
  background: url('./images/logo3@2x.png') no-repeat 0 0;
}

.d {
  background: url('./images/logo4@2x.png') no-repeat 0 0;
}

.e {
  width: 18px;
  height: 26px;
  background: url('./images/shiny@2x.png') no-repeat 0 0;
}